 body {
    background: pink;

 }

 h1 {
    color: beige;

    }
    h2 {
        color:beige;
    }
    h3 {
        color:beige;
    }
    h1 {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    h2 , h3{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:x-large;
        
    }
    
       p{
        font-weight: bolder;
       }
        
 



    
